* {
  box-sizing: border-box;
}

body, html {
  background: $websiteBackground;
  padding: 0;
  margin: 0;
  color: $bodyColour;
  font-family: $websiteFont;
  font-size: clamp(18px, 1.1vw, 22px);
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headingFont;
  font-weight: 400;
}

a {
  color: $bodyColour;
  &:hover {
    color: #08a8bd;
    text-decoration: none;
  }
}