nav.nav-bar {
  max-width: 1800px;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 140px;
  padding: 20px 0;
  @media(max-width: 768px) {
    padding: 10px 0;
    .logo-holder {
      img {
        height: 60px;
      }
    }
    flex-direction: column;
  }
}